[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/GeorgeKuzora/hugo-theme-cleanwhite.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/GeorgeKuzora/hugo-profile.git
[submodule "themes/rusty-typewriter"]
	path = themes/rusty-typewriter
	url = https://github.com/math-queiroz/rusty-typewriter.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = git@github.com:GeorgeKuzora/risotto.git
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = git@github.com:GeorgeKuzora/hugo-blog-awesome.git
